
#days
{
	float:left;
	float: top; 
	text-align:center;
    font-size: 90px;
    font-family: verdana;
    letter-spacing:9px;
	margin-left:220px;
	height:100px;
	width: 140px;
	background: rgba(40,50,61,.62);
	color:#8cf7f3;
	    padding:10px;
	        border: 3px solid orange;

	margin-right:50px;

}
#hr,#sec,#min
{
text-align: center;
    font-size: 90px;
    font-family: verdana;
    letter-spacing:9px;
	float:left;
	float: top;
	vertical-align: middle;
    font-size: : 50px
    letter-spacing:2px;
	padding:10px;
	height:100px;
	width: 140px;
	background: rgba(40,50,61,.62);
	color:#8cf7f3;
	border: 3px solid orange;
	margin-left:40px;
	margin-right:50px;
}
#sec
{
	color:#78edaf;
}
#c1,#c2,#c3
{
	float: left;
    font-size: 100px;
	margin-left:40px;
	margin-right:50px;
	height:50px;
	width: 70px;
	color:#57b247;
}
  
body {
  position: relative;
    background: #fff;
    font-family:sans-serif;
    color: #454545;
    padding: 0;
    margin: 0;
}

#time
{  
	height:410px;
	font-weight:normal;
	color:white;
	text-align: center;
	font-size: 40px;
	font-family: Lobster Two,cursive;
	background-color: #31a4f7;
}
b
{
	color:black;
}
#titlebar
{ width: 100%;
	height:auto;
}
#titlebar li
{
	list-style-type: none;
	float: left; 
	font-size: 28px;
	letter-spacing: 1.8px;
	font-weight: bold;
	display:inline-block;
  padding:0px 82px;
color:black;
text-align:center;
}
ol 
{
	margin-left: 134px;

}
#details
{
	padding-top:30px;
	background:rgba(230, 230, 230,0.5);
}
legend
{
	width: auto;
	border: 2px solid #66b3ff;
	border-radius: 5px;
	letter-spacing: 2px;
	   font-family:sans-serif cursive;
	   font-size: 35px;
	   font-weight: normal;
	   text-align: center;
	   margin-top: 20px;
}
table
{
	line-height: 30px;
	height:auto;
	border: 2px solid gray;
	margin-right: auto;
margin-left: auto;
margin-top: 20px;
text-transform:uppercase;


}
.button {
  border-radius: 15px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 2s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after { 
  content: '\00bb';
  position: absolute;
  opacity: 0;
 
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  letter-spacing: 1.1px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;

}
.button:hover
{
	box-shadow: 5px 5px 10px black;
}
.center
{
	text-align: center;
}
#overlay {
    position: fixed;
    display: none;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
   
    /*background-color:#222222;
    opacity:0.5;*/
}

#reciept
{
	margin:auto;
	text-align:center;
	

}
#reciept label
{
	border:none;
	display: flex;
	font-size: 30px;
	padding: 4px 30px;
	
	width:200px; 
}
#reciept #l1,#reciept #l2, #reciept #l3,#reciept #l4,#reciept #l5,#reciept #l6,#reciept #l7,#reciept #l8,#reciept #l9,#reciept #l10
{
	color:#00e600;white;
	font-size: 30px;
	word-wrap:keep-all; 
	font-family:Vedana ;
	text-transform: capitalize;
	font-style:italic;
	text-decoration-color:white;

}
#reciept table
{
	width:800px;
	margin-right:auto;
	margin-left: auto;
	background-color:
 #ffcc99;#ffaa80; #ffff33;#45B8AC;#009B77; #DD4124;
	border:4px solid #fff;

}
#reciept
{
	tab-size:10px;
}
#close
{
	border-radius: 15px;
	height: 40px;
	width: 40px;
	background-color: red;
	color:white;
	text-align: center;
	font-size:30px;
	float: right;
	margin-right:20px;
	margin-top: 15px;
	cursor: pointer; 
	font-weight: bolder;
}

#reciept label
{   font-size: 25px;
	color:#5858FA;
	margin-top: 10px;
	text-transform: capitalize;
	margin-left: 15px;
	font-family: verdana;
	width:auto;
	vertical-align: text-bottom;
}
#msg
{
	color:white;
	background-color:#222222;
	display: none;
float:right;
margin-top: 60px;
font-style: italic;
font-size: 20px;
}
caption
{ 
	color: orange;
	font-family: Lobster Two,cursive;;
	font-size:35px;
	word-spacing: 30px;
	letter-spacing: 1px;
	border-radius: 5px;
	border:2px dashed gray;
	margin-bottom: 15px;
	font-weight: bold;
}
#error
{
	display: none;
	color: red;
	font-size: 35px;
	font-family: monospace;
	margin-top: 50px;
	text-transform: capitalize;
	text-align: center;
}
textarea
{
	height:auto;
	resize: none;

}
#payment
{
	margin-top: 10px;
	height:50px;
	width:300px;
	color:white;
	font-size:25px;
	
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 4px 3px grey;
	background-color: #0040ff;
}
#payment:hover
{
 transform: translateY(6px);
 
}
#details input[type="text"],input[type="date"],input[type="email"],select,textarea
{
	width:70%;
 
 border:1.5px solid  #00ff00;
color:#264d73;yellow;
font-size: 20px;
color:;
margin-left: 80px;
}
#details #rad
{
padding-left: 28px;
font-size: 20px;
font-family: arial;
}
#details input[type="radio"]
{
	margin-left: 55px;
}
#details table label
{
	font-family: sans-serif;
	font-weight: 700;
	color:#26734d;
	font-size: 20px;
}
#details table
{
	width: auto;
	padding-left: 30px;

}
#details table tr
{
	line-height: 50px;
}
#details #clear
{
font-family: verdana;
font-size:30px;
margin-top: 20px;
letter-spacing: 3px;
margin-bottom: 30px;
background-color:  #ff0000;
color: white;
padding: 10px 30px;
border-radius: 12px;
border:2px solid #333;
cursor: pointer;
}
#details #book
{
font-family: verdana;
font-size:30px;
margin-top: 20px;
letter-spacing: 3px;
padding: 10px 30px;
border-radius: 12px;
background-color: #4d4dff;
border:2px solid #333;
cursor: pointer;

}
#details table
{
	background-color: #ffff44;
}
#details
{
	background-color:white; 
}
