body{
 
  
   background-color: #222222;
}

#container {
  letter-spacing: 1.5px;

background-color:#222222;
  text-align: justify;
  font-size: 68px;
  margin: 20px 0 20px 0;
  height: auto;
}

p #s1 {
  text-decoration: none;
  transition: all 1.5s;
  text-transform:capitalize;
}

 #s1 {
  color:#f9f657;
font-family: monospace;
  animation: neon 2.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #fff, 0 0 30px #91f791, 0 0 40px#37ef37, 0 0 70px #37ef37, 0 0 80px #37ef37, 0 0 100px #37ef37, 0 0 150px #37ef37;
   box-shadow: none;
  }
  to {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #37ef37, 0 0 35px #FF1177, 0 0 40px #37ef37, 0 0 50px #37ef37, 0 0 75px #37ef37;
   box-shadow: 0 0 2px #00ff00, 0 0 8px #00ff00, 0 0 12px #fff, 0 0 15px #fff;
}

p::selection
{
  color:#00ff00;
}
