
input,textarea
{
	margin-bottom: 20px;
	margin-left:80px;
 height: 35px;
}
.signupbox
{
	margin-top:2%;
	margin-left:auto;
	margin-right: auto;
	padding-right: 8px;
	width:900px;
	height:auto;
	background:	rgba(230, 230, 230,0.5);
border:2.5px solid navy;
border-radius: 25px;
}
.signupbox input[type="text"],.signupbox input[type="password"],.signupbox input[type="email"],textarea
{

 width:70%;
 
 border:1.5px solid blue;
color:#00b359;
 #4dffd2;#ffff66; green;
 font-size: 25px;
 background: rgba(235, 235, 224,0.5);
 font-family: Gamja Flower;
}
textarea
{
	height:auto;
	resize: none;

}
.signupbox input[type="date"]
{
width:70%;
 
 border:1.5px solid blue;
font-family: Gamja Flower;
 color:#00b359;
 font-size: 22px;
 background: rgba(235, 235, 224,0.5);
}
.signupbox input[type="file"]
{
 width:70%;
font-family: Gamja Flower;
color:#00b359;
 font-size: 22px;
 background: rgba(235, 235, 224,0.5);
}
#userimg
{
	width: 100px;
	height:100px;
	margin-top:-50px;
	display: block;
	margin-right: auto;
	margin-left:auto;
	border-radius: 50px;
border:4px solid black;
overflow:hidden;
background:#1aff8c;
}

legend
	{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#signup label
{   font-size: 20px;
	font-weight: bold;
	color:dark blue;#5858FA;
	margin-top: 10px;
	text-transform: uppercase;
	margin-left: 15px;
	font-family: verdana;
	width:auto;
	vertical-align: text-bottom;
}
h2
{
	font-family: Open Sans;
	font-size: 35px;
letter-spacing: 1px;
word-spacing: 10px;
font-weight: 2;
color:#fff;#1aff8c;

}
#msg
{
	color:#ff8566;red;
	display:none;
	font-size:30px;
	font-style: italic;
	font-weight: bold; 
	margin-left: 60px;
}
.b2
{

	height:50px;
	width:50%;
	color:White;
	font-size:22px;
	background-color:  #248024;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;

}
.b1
{
	height:50px;
	width:50%;
	color:White;
	font-size:25px;
	color:red;
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;
}

#r1
{  
	font-size:22px;
	
}
.signupbox a
{   font-size: 25px;
	color:blue;
	text-decoration:red;
	
}
a:hover
{
	font-size: 30px;
	letter-spacing: 4px;
	word-spacing: 10px;
	font-family: sans-serif;
}
#signup #sel
{
	color:#00b359;
}
table
{
	width:auto;
}
.b1:hover
{  font-family: arial;
	letter-spacing: 3px;
font-size: 35px;
background-color:red;
color:white;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
}
.b2:hover
{  font-family: arial;
	letter-spacing: 3px;
font-size: 35px;
background-color: #00cc44; #80ff00; #248024;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
}
#sel
{
	height:35px;
 width:70%;
 margin-left:80px;
 border:1.5px solid blue;

 color: green;
 font-size: 22px;
 background: rgba(235, 235, 224,0.5);
margin-bottom: 20px;
}
optgroup
{
	color:black;

}
option
{
	color:gray;
}


input[type="radio"]{
	margin-top: 14px;
  vertical-align: middle;
  height: 20px;
}

#help
{ 
  position: fixed;
	right:0px;
	bottom:0px;
	background-color:#00aba9;#264d73;
	margin:0;
	width:auto;
	
	margin-right: 8px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#help:hover
{
	cursor: pointer;
}
#help #menu
{

font-size:20px;
text-decoration:none;
color:#fff;
padding:5px;
height:10px;
font-family:sans-serif;
	margin-bottom:15px; 
}
#closebot:hover
{
	
	
	background-color: red;
	color: white;
	text-align:center; 
	cursor: pointer;
}
#closebot
{   margin-left:50px;
	height: 25px;
	width: 35px;
	font-weight: bold;
	font-size: 14px;
	font-weight: bold;
	background-color: white;
	color: red;
	text-align:center; 
	float:right;
}
#chatbot
{
	display:none;
	float: top;
	font-size: 30px;
}
#captcha
{background-color:#333;#80ffcc;;#75a3a3;
 #33cc33; color:#e0ebeb;#00b33c;#00cc7a;#1affa3; font-weight: bold; font-size: 35px; width:70%;
	
	
	 font-family: monospace; 
	 margin-bottom: 20px;
margin-left:80px;
 height: 50px;
 border-radius: 8px;
border:1.5px solid white;}
#userimage
{ 	margin-left: 80px;
	width:170px ;
	height: 200px;
	image-rendering: pixelated;
	border:2px solid #333;
	background:grey;
	margin-top: 0px;
}
#overlay {

    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
    
}
#close
{
	border-radius: 15px;
	height: 40px;
	width: 40px;
	background-color: red;
	color:white;
	text-align: center;
	font-size:30px;
	float: right;
	margin-right:20px;
	margin-top: 15px;
	cursor: pointer; 
	font-weight: bolder;
}
#closemsg
{

	color:white;
	background-color:#222222;
	display: none;
float:right;
margin-top: 60px;
font-style: italic;
font-size: 20px;
}
caption
{ 
	color: #1a1aff;
	font-family: Lobster Two,cursive;;
	font-size:35px;
	word-spacing: 15px;
	letter-spacing: 1px;
	border-radius: 5px;
	margin-bottom: 15px;
	font-weight: bold;
}
#info
{
	margin:auto;
	text-align:center;
	margin-top: 20px;

}
#info label
{
	border:none;
	display: flex;
	font-size: 30px;
	padding: 7px 25px;
	width:200px; }
	#info .tit
	{
	text-decoration: underline;
	text-decoration-color:blue;  
	font-weight: bold;
}
#info #l1,#info #l2, #info #l3,#info #l4,#info #l5,#info #l6,#info #l7
{
	color:#ff9900;white;
	font-size: 20px;
	word-wrap:keep-all; 
	font-family:Verdana ;
	font-style:italic;

}
#info 
{
	width:800px;
	margin-right:auto;
	margin-left: auto;
	margin-top: 100px;
	background-color:#80ff80 ;
	border:3px solid #fff;
	align-items: center;
}
	#info
{
	tab-size:10px;
}
#proceed
{
	height:40px;
	width:30%;
	color:White;
	font-size:30px;
	background-color:  #248024;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}
#proceed:hover
{  font-family: arial;
	letter-spacing: 3px;
font-size: 35px;
background-color: #00cc44; #80ff00; #248024;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
text-transform: uppercase;
font-family:  Cooper Std;
padding-top: 10px;
text-align: center;
height: 50px;

}
#button:hover
{
	transform: translateY(6px);
}
#button1:hover
{
	box-shadow: 5px 3px 5px white;
	background-color:blue;
}
#button1
{border:2px solid black;border-radius:9px;font-size: 30px;margin-top: 20px;margin-left: 20px;background-color:#435;cursor: pointer;color:white;}

